page-home {
 

    .chk{
        margin-bottom: 20px;
        text-align: center;
    }
   
    .b button{
        size: 5px;
        color: black;
    }

    h6{
        color: rgb(173, 84, 24);
    }

    .summary p{
       margin-bottom: 5px;
       text-align: center;
       
       padding: 0;
       
    }

   
}
